<!DOCTYPE html>
<html>
<head><title>포켓몬 정보</title></head>
<body>
<h1>{{pokemon.name}} 정보</h1>
<ul>
    <li>키: {{pokemon.height}}</li>
    <li>몸무게: {{pokemon.weight}}</li>
</ul>
<a href="/">← 돌아가기</a>
</body>
</html>
